body {
	background-color: #FFF;
	font-family: Arial, Geneva, sans-serif;
	color: #000;
	line-height: 24px;
}

.container{
  width:90vw;
  margin: 20px auto;
}

.img-right{
  float:right;
  margin:10px 0 10px 20px;
  border:1px solid #c0c0c0;
  padding:5px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0;
  border:1px solid #c0c0c0;
  padding:5px;
}

img{
  max-width:100%;
  border:2px solid #c0c0c0;
  
}

.heading{
  border:0px;
}

img:nth-child(2){
  border:0px;
    
}

.center {
  display:block;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

header.primary{
text-align:center;
}

a {
  text-decoration:none;
}

.page {
  font-weight:bold;
  text-shadow: 2px 2px rgb(0,0,155,1);
}

a.primary {
  color:#7f7f8a; 
  text-shadow: 2px 2px rgb(0,0,0,.7);
  font-size:36pt;
}

header.primary nav a:link, header.primary nav a:visited{
color:#A4B5E3; 
border:1px solid #c0c0c0;
background-color:#000;
background-color:rgb(0,0,175,1);
padding:10px 110px;
margin-top:0px;
margin-bottom:0px;
}

h1{
  color:#382491;
  text-shadow: 1px 1px rgb(0,0,0,.4);
}

h1.primary{
  color:#000;
}

h2{
  color:#382491;
  text-shadow: 1px 1px rgb(0,0,0,.4);
}

h2.slogan{
  color:#000;
  font-style:italic;
  font-size:20px;
}

h3{
  color:#A4B5E3;
  text-shadow: 1px 1px rgb(0,0,0,.4);
  margin: 0px;
  border:1px solid #c0c0c0;
  background-color:#000;
  border-style: groove;
  padding-left: 8px;
}

h4.primary{
  color:#A4B5E3;
  text-shadow: 1px 1px rgb(0,0,0,.4);
  margin: 0px;
  border:1px solid #c0c0c0;
  background-color:#000;
  border-style: groove;
  padding-left: 8px;
}

table{
  width:100%;
  text-shadow: 1px 1px rgb(0,0,0,.3);
  border:2px solid #c0c0c0;
  border-collapse:collapse;
  margin-bottom:40px;
}

table td{
  border:2px solid #c0c0c0;
  padding:5px;
}

table th{
  background-color:#382491;
  color:#A4B5E3;
  border:2px solid #c0c0c0;
  text-shadow: 2px 2px rgb(0,0,0,.9);
  width:25%;
  padding:10px;
}

table caption{
  background-color:#212352;
  border:2px solid #c0c0c0;
  text-shadow: 2px 2px rgb(0,0,0,.9);
  color:#A4B5E3;
  padding:10px;
  font-weight:bold;
  font-size:1.4rem;
}

footer{
color:#A4B5E3;
border:2px solid #c0c0c0;
border-style: groove;
background-color:rgb(0,0,0,1);
padding: 10px 16px;
margin-left: 0px;
margin-right: 0px;
}